/* Enter your custom styles here */
.colorStyle {
	font-size: 1.2rem;
	color: red !important;
}

.colorStyle[data-devicemark=win] {
	font-size: 1.4rem;
	color: blue !important;
}

.colorStyle[data-devicemark=iOS] {
	font-size: 1.25rem;
	color: #7c7c40 !important;
}
